# **Libraries and Variables**

Extracted Data (This will avoid extraction of data from beginning) : https://drive.google.com/drive/folders/1fgCpUT5vUNm-M9CMrbAp_y4XDFm5FcE2?usp=sharing

Please add to your drive to get access.

In [0]:
#Importing libraries
import pandas as pd
import gc
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import numpy as np

#Attaching google drive
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
#Variables set
base_loc = '/content/gdrive/My Drive/upgrad/research/data/'
dummy_loc = '/content/gdrive/My Drive/upgrad/research/other/dummy' #folder to write the intermediate files
gameplay_loc = base_loc + 'games_1_data.csv'
achievement_loc = base_loc + 'Achievement_Percentages.csv'
app_id_loc = base_loc + 'App_ID_Info.csv'
group_strength_loc = base_loc + 'Groups.csv'
groups_data = base_loc + 'Groups_2013_1.csv'
player_summary_loc = base_loc + 'Player_Summaries_2013_1.csv'
friends_data = base_loc + 'Friends_2013_1.csv'
genres_loc = base_loc + 'Games_Genres.csv'
player_dataset_loc = base_loc + 'player_dataset.csv'
grouped_data_loc = base_loc + 'grouped_data.csv'
app_id_merge_loc = base_loc + 'app_id_merge.csv'

#Sample size selection
sample_size=125000

# **Load the datasets**

In [0]:
#Gameplay data
gameplay = pd.read_csv(gameplay_loc)
gameplay.head(n=10)
#Only has game data for addicted gamers who have played games on total for over 5040 minutes which is 5 hours or more everyday
#on average for two weeks. Data has other games they have played as well.

             steamid  appid  playtime_2weeks  playtime_forever        dateretrieved
0  76561197960266039     10              7.0            1311.0  2013-05-06 16:00:46
1  76561197960266039     20              NaN             391.0  2013-05-06 16:00:46
2  76561197960266039     30              NaN               0.0  2013-05-06 16:00:46
3  76561197960266039     40              NaN             748.0  2013-05-06 16:00:46
4  76561197960266039     50              NaN               NaN  2013-05-06 16:00:46
5  76561197960266039     60              NaN               NaN  2013-05-06 16:00:46
6  76561197960266039     70              NaN            6766.0  2013-05-06 16:00:46
7  76561197960266039    130              NaN               NaN  2013-05-06 16:00:46
8  76561197960266039    220              NaN               1.0  2013-05-06 16:00:46
9  76561197960266039    240           1286.0            9102.0  2013-05-06 16:00:46

In [0]:
len(pd.unique(gameplay.steamid)) #250075

250075

In [0]:
#Groups data
group_strength = pd.read_csv(group_strength_loc)
group_strength.head()

   groupid  count
0        4    170
1        5     41
2        6      6
3        7      1
4        8     24

In [0]:
#Friends data
friends_data = pd.read_csv(friends_data)
#friends_data.columns = ['steamid','no_of_friends']
friends_data.head()

           steamid_a          steamid_b relationship         friend_since        dateretrieved  LccTag            steamid
0  76561197960266039  76561197960281586       friend  2013-02-21 21:08:30  2013-05-06 16:00:47     NaN  76561197960266039
1  76561197960266039  76561197960362293       friend  2012-09-28 09:18:44  2013-05-06 16:00:47     NaN  76561197960266039
2  76561197960266039  76561197960396841       friend  2009-07-15 17:45:00  2013-05-06 16:00:47     NaN  76561197960266039
3  76561197960266039  76561197961034441       friend  1969-12-31 17:00:00  2013-05-07 06:14:44     NaN  76561197960266039
4  76561197960266039  76561197961182954       friend  2012-06-23 21:27:20  2013-05-06 16:00:47     NaN  76561197960266039

In [0]:
#Player Sumaries
player_summary = pd.read_csv(player_summary_loc)
player_summary.head()

             steamid            personaname                                         profileurl                                             avatar                                       avatarmedium                                         avatarfull  personastate  communityvisibilitystate  profilestate           lastlogoff  commentpermission      realname  primaryclanid          timecreated  gameid          gameserverip                     gameextrainfo  cityid loccountrycode locstatecode  loccityid        dateretrieved
0  76561197960266039                 Weasel               http://steamcommunity.com/id/Weasel/  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...             0                         3           1.0  2013-02-13 23:41:54                2.0        Weasel   1.035828e+17  2003-09-10 23:48:48     NaN                   NaN                               NaN     NaN             US           NV        NaN  2013-02-28 14:19:00
1  76561197960269360        minnes kort ett               http://steamcommunity.com/id/dibban/  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...             0                         1           1.0  2013-01-24 17:40:08                2.0           NaN            NaN                  NaN     NaN                   NaN                               NaN     NaN            NaN          NaN        NaN  2013-02-28 14:34:05
2  76561197960269424                    t8p  http://steamcommunity.com/profiles/76561197960...  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...             1                         3           1.0  2013-02-14 19:57:02                1.0           NaN   1.035828e+17  2003-09-12 00:09:53   730.0  208.64.201.103:27034  Counter-Strike: Global Offensive     NaN             CA          NaN        NaN  2013-02-28 14:34:05
3  76561197960269425                   lone                 http://steamcommunity.com/id/waoh/  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...             1                         3           1.0  2013-03-06 13:01:11                1.0         Casey   1.035828e+17  2003-09-12 00:18:47   570.0  208.78.164.199:27038                            Dota 2     NaN             US           OR     3187.0  2013-03-06 16:18:05
4  76561197960269501  â™¥ PanzerKnacker â™¥        http://steamcommunity.com/id/PanzerKnacker/  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...  http://media.steampowered.com/steamcommunity/p...             1                         3           1.0  2013-03-06 03:13:37                NaN  Justin Glenn   1.035828e+17  2003-09-12 00:23:37     NaN                   NaN                               NaN     NaN             US           CA      518.0  2013-03-06 16:18:05

In [0]:
#Achievement data
achievement = pd.read_csv(achievement_loc)
achievement.head(n=8)

   appid            Name  Percentage
0     50            ach0    0.091038
1     50            ach1    0.088308
2     50            ach2    0.088496
3     50        grp_ach0    0.010733
4     50        grp_ach1    0.010638
5     60    FinishedGame    0.061754
6     60  FoundEasterEgg    0.061636
7     60      Invincible    0.006921

In [0]:
#App id
app_id = pd.read_csv(app_id_loc)
#app_id.head()
app_id.sort_values('appid',ascending=False).head()

        appid                                            Title Type  Price         Release_Date  Rating  Required_Age  Is_Multiplayer
17782  469850            Fantasy Grounds - 5E: Champion's Rest  dlc   6.99  2016-05-05 00:00:00      -1             0               1
17781  469670  Leadwerks Game Engine - Mercenary Action Figure  dlc   9.99  2016-05-04 00:00:00      -1             0               0
17780  469520                                 Sector Six - OST  dlc   0.00  1970-01-01 00:00:00      -1             0               0
17779  468610         Fantasy Grounds - 5E: Devil of Dark Wood  dlc   6.99  2016-05-05 00:00:00      -1             0               1
17778  468520  Fantasy Grounds - 5E: The Crypt of the Sun Lord  dlc   6.99  2016-05-05 00:00:00      -1             0               1

In [0]:
#Games genres
genres = pd.read_csv(genres_loc)
genres.head()

   appid   Genre
0     10  Action
1     20  Action
2     30  Action
3     40  Action
4     50  Action

In [0]:
#Groups data
groups_data = pd.read_csv(groups_data)
groups_data.head()

             steamid  groupid        dateretrieved
0  76561197960266039      977  2013-05-06 16:00:46
1  76561197960266039     1010  2013-05-06 16:00:46
2  76561197960266039     1902  2013-05-06 16:00:46
3  76561197960266039     3713  2013-05-06 16:00:46
4  76561197960266039    36110  2013-05-06 16:00:46

## Sample Selections

In [0]:
#Lets pick only samples

sample = gameplay.sample(sample_size,axis=0,random_state=1).steamid.values
sample = gameplay[gameplay.steamid.isin(sample)].steamid
sample = player_summary[player_summary.steamid.isin(sample)].steamid
sample = friends_data[friends_data.steamid.isin(sample)].steamid

gameplay=gameplay[gameplay.steamid.isin(sample)]
player_summary=player_summary[player_summary.steamid.isin(sample)]
friends_data=friends_data[friends_data.steamid.isin(sample)]

In [0]:
#len(pd.unique(sample)) #63127
#gameplay.count()[0] #5282737

# **Basic Validations, Transformations and New features**

## Gameplay Data

In [0]:
#NaNs need to be made 0
gameplay.playtime_2weeks = gameplay.playtime_2weeks.apply(lambda x: 0 if np.isnan(x) else x)
gameplay.playtime_forever = gameplay.playtime_forever.apply(lambda x: 0 if np.isnan(x) else x)
gameplay.head()

               steamid  appid  playtime_2weeks  playtime_forever        dateretrieved
121  76561197960269425     10              0.0            1304.0  2013-05-06 15:59:30
122  76561197960269425     20              0.0               0.0  2013-05-06 15:59:30
123  76561197960269425     30              0.0               0.0  2013-05-06 15:59:30
124  76561197960269425     40              0.0               0.0  2013-05-06 15:59:30
125  76561197960269425     50              0.0             305.0  2013-05-06 15:59:30

In [0]:
#Unplayed Games
gameplay['unplayed'] = gameplay.playtime_forever.apply(lambda x: 1 if x==0 else 0)
gameplay.head()

               steamid  appid  playtime_2weeks  playtime_forever        dateretrieved  unplayed
121  76561197960269425     10              0.0            1304.0  2013-05-06 15:59:30         0
122  76561197960269425     20              0.0               0.0  2013-05-06 15:59:30         1
123  76561197960269425     30              0.0               0.0  2013-05-06 15:59:30         1
124  76561197960269425     40              0.0               0.0  2013-05-06 15:59:30         1
125  76561197960269425     50              0.0             305.0  2013-05-06 15:59:30         0

In [0]:
#Checking for duplicates
gameplay.duplicated().sum() #0 no duplicates however dateretrieved may be a reason
gameplay.drop('dateretrieved',axis=1).duplicated().sum() #no duplicates

#Check if duplicates are present for steamid and dateretrieved
count = gameplay.groupby(['steamid','dateretrieved'],as_index=False).count()
count = count.loc[:,['steamid','dateretrieved']].groupby('steamid',as_index=False).count()
max(count.dateretrieved) #1

#A steamid does not have multiple data from multiple dates

1

In [0]:
#Checking the dataset
dates = pd.to_datetime(gameplay.dateretrieved)
pd.unique(dates.dt.year) #Only 2013 data
pd.unique(dates.dt.month) #7 months data # 5,  6,  7,  8,  9, 10, 11
pd.unique(dates.dt.day) #data for whole month

#del dates
#No need to group by dateretrieved also

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
       23, 24, 25, 26, 27, 28, 29, 30, 31,  1,  2,  3,  4,  5])

In [0]:
#Checking playtime minimums
game_group = gameplay.groupby(['steamid'],as_index=False).agg({'playtime_2weeks':'sum','playtime_forever':'sum'})
game_group.sort_values('playtime_2weeks',ascending=True).head() #playtime 2 weeks is ok
game_group.sort_values('playtime_forever',ascending=True).head() #playtime forever is lower : 

##***Remove low playtime forevers : Blacklisted players
game_group[game_group.playtime_forever<game_group.playtime_2weeks].count()[0]
steamid_blacklist = game_group[game_group.playtime_forever<game_group.playtime_2weeks].steamid

gameplay = gameplay[-gameplay.steamid.isin(steamid_blacklist)]
gameplay.count()
len(pd.unique(gameplay.steamid)) #63104

63104

In [0]:
#Gameplay Data : Add a column to use later that states how many games the addicted player has played over two weeks
gameplay_group_count = gameplay.loc[:,['steamid','appid']].groupby('steamid',as_index=False).count()
gameplay_group_count.columns = ['steamid','no_of_games']
gameplay = gameplay.merge(gameplay_group_count,on='steamid',how='inner')

gameplay.head()

             steamid  appid  playtime_2weeks  playtime_forever        dateretrieved  unplayed  no_of_games
0  76561197960269425     10              0.0            1304.0  2013-05-06 15:59:30         0          222
1  76561197960269425     20              0.0               0.0  2013-05-06 15:59:30         1          222
2  76561197960269425     30              0.0               0.0  2013-05-06 15:59:30         1          222
3  76561197960269425     40              0.0               0.0  2013-05-06 15:59:30         1          222
4  76561197960269425     50              0.0             305.0  2013-05-06 15:59:30         0          222

In [0]:
#median no of games owned by the addicted gamers
gameplay.loc[:,['steamid','no_of_games']].groupby('steamid',as_index=False).agg({'no_of_games' : 'max'}).no_of_games.median() 

#52 games is the median in this sample

#Lets also look at the max and minimum
gameplay.loc[:,['steamid','no_of_games']].groupby('steamid',as_index=False).agg({'no_of_games' : 'max'}).no_of_games.max() 
#Someone owns 1979 games
gameplay.loc[:,['steamid','no_of_games']].groupby('steamid',as_index=False).agg({'no_of_games' : 'max'}).no_of_games.min() 
#minimum is 1

#Who are these guys?
gameplay[gameplay.no_of_games==1979].head()
gameplay[gameplay.no_of_games==1].head()

#How many players own just one game wow
#len(pd.unique(gameplay[gameplay.no_of_games==1].steamid)) #482

                   steamid  appid  playtime_2weeks  playtime_forever        dateretrieved  unplayed  no_of_games
1120137  76561197991608350    570           7902.0           76291.0  2013-05-25 14:04:04         0            1
1171712  76561197992631938    570           5235.0           11368.0  2013-05-28 05:32:13         0            1
1546003  76561197998193585    570          10964.0           45270.0  2013-06-04 21:36:48         0            1
1593500  76561197998895167    570           5385.0          129101.0  2013-06-05 13:03:15         0            1
1829915  76561198003054341    570           5545.0           41453.0  2013-06-09 23:15:56         0            1

## Achievements Data

In [0]:
#Check for duplicates
achievement.duplicated().sum() #0
achievement.drop('Percentage',axis=1).duplicated().sum() #0 no duplicate achievements for the same appid

0

In [0]:
#Getting count and avg percentage completion
ac_count = achievement.loc[:,['appid','Percentage']].groupby('appid').agg(['mean','count']).reset_index()
ac_count.columns = ['appid','avg_percentage_completion','total_achievements']
ac_count.head()

   appid  avg_percentage_completion  total_achievements
0     50                   0.057843                   5
1     60                   0.043437                   3
2    220                  17.638451                  33
3    240                  16.973004                 148
4    300                   5.954849                  55

In [0]:
#Analysis on Achievements
#ac_count.info() #4721 apps
#achievement.info() #156253

#ac_count.avg_percentage_completion.median() #11
#ac_count.avg_percentage_completion.mean() #14
#ac_count.avg_percentage_completion.min() #0
#ac_count.avg_percentage_completion.max() #84

#ac_count.total_achievements.median() #24
#ac_count.total_achievements.mean() #33
#ac_count.total_achievements.min() #1
#ac_count.total_achievements.max() #1629

## App_Id Data

In [0]:
#check for some duplicates
app_id.duplicated().sum() #0
app_id.drop(['Title','Type','Price','Release_Date','Rating','Required_Age','Is_Multiplayer'],axis=1).duplicated().sum()
#App id has not been repeated

app_id.count() #17783 apps

appid             17783
Title             17783
Type              17783
Price             17783
Release_Date      17783
Rating            17783
Required_Age      17783
Is_Multiplayer    17783
dtype: int64

In [0]:
#Fix ratings
app_id.Rating.median() #-1
app_id[app_id.Rating==-1].count() #15246 apps have not been rated
#app_id[app_id.Rating!=-1].Rating.median() #74

#Ratings -1 to median : 74
app_id.Rating = app_id.Rating.apply(lambda x: 74 if x==-1 else x)
app_id.Rating.median()

#Appid median is 74

74.0

In [0]:
#Unique types
pd.unique(app_id.Type)

app_id.groupby('Type',as_index=False).count()

##Check required age
#min(app_id.Required_Age) #0
#max(app_id.Required_Age) #18 #add column: is_Adult
pd.unique(app_id.Required_Age)

##Minimum other than 0
#min(app_id[app_id.Required_Age>0].Required_Age) #6

##Add Is_Adult
app_id['Is_Adult'] = app_id.Required_Age.apply(lambda x : 1 if x>=18 else 0)
app_id.head()

   appid                      Title  Type  Price         Release_Date  Rating  Required_Age  Is_Multiplayer  Is_Adult
0     10             Counter-Strike  game   9.99  2000-11-01 00:00:00      88             0               1         0
1     20      Team Fortress Classic  game   4.99  1999-04-01 00:00:00      74             0               1         0
2     30              Day of Defeat  game   4.99  2003-05-01 00:00:00      79             0               1         0
3     40         Deathmatch Classic  game   4.99  2001-06-01 00:00:00      74             0               1         0
4     50  Half-Life: Opposing Force  game   4.99  1999-11-01 00:00:00      74             0               1         0

## Group Strength and Data

In [0]:
#Group strength
group_strength.columns = ['groupid','group_strength']
group_strength.head()

   groupid  group_strength
0        4             170
1        5              41
2        6               6
3        7               1
4        8              24

In [0]:
#Check for duplicates
groups_data.duplicated().sum() #0
groups_data.drop('dateretrieved',axis=1).duplicated().sum() #0

##Check if duplicates are present for steamid and dateretrieved
count = groups_data.groupby(['steamid','dateretrieved'],as_index=False).count()
count = count.loc[:,['steamid','dateretrieved']].groupby('steamid',as_index=False).count()
max(count.dateretrieved) #1

#a steamid has NOT been recorded multiple times

1

In [0]:
groups_data.count() #2084887 total records
len(pd.unique(groups_data.steamid)) #158243 addicted people in groups

158243

In [0]:
#Groups join
groups_join = groups_data.drop('dateretrieved',axis=1).merge(group_strength,how='inner',on='groupid')
groups_join.sort_values('steamid').head()

#Groups Count and connections (Connections will be total of group strength for each steamid)
groups = groups_join.groupby('steamid').agg({'groupid':'count', 'group_strength' : 'sum'}).reset_index()
groups.columns = ['steamid','no_of_groups','total_group_connections']
groups.head()

             steamid  no_of_groups  total_group_connections
0  76561197960266039            37                   881463
1  76561197960269424             8                  1487060
2  76561197960269425            12                   379079
3  76561197960269501            28                  2723055
4  76561197960269693             8                   234618

In [0]:
#Remove
del groups_data
del groups_join
del group_strength

gc.collect()

0

In [0]:
#Average no of groups of addicted gamers
groups.no_of_groups.median() #5

#Average total connections
groups.total_group_connections.median() #361553

361553.0

## Player Summary

In [0]:
#Only take the information of the sample
player_summary = player_summary[player_summary.steamid.isin(sample)]
player_summary.count()[0] #63127

63127

In [0]:
#Don't need all the columns
player_summary.columns.values
player_summary = player_summary.loc[:,['steamid', 'personaname','personastate', 'communityvisibilitystate',
       'profilestate', 'lastlogoff', 'commentpermission', 'realname',
       'timecreated', 'loccountrycode', 'dateretrieved']]
player_summary.head()

             steamid            personaname  personastate  communityvisibilitystate  profilestate           lastlogoff  commentpermission          realname          timecreated loccountrycode        dateretrieved
3  76561197960269425                   lone             1                         3           1.0  2013-03-06 13:01:11                1.0             Casey  2003-09-12 00:18:47             US  2013-03-06 16:18:05
4  76561197960269501  â™¥ PanzerKnacker â™¥             1                         3           1.0  2013-03-06 03:13:37                NaN      Justin Glenn  2003-09-12 00:23:37             US  2013-03-06 16:18:05
6  76561197960269721           AlexTheGreat             1                         3           1.0  2013-02-14 19:56:54                NaN               NaN  2003-09-12 00:33:28            NaN  2013-02-28 14:19:01
7  76561197960269752                 JAYPEE             0                         3           1.0  2013-02-14 01:25:58                NaN  Jonathan Parrish  2003-09-12 00:31:36             US  2013-02-28 14:34:05
9  76561197960270225       [VO]PsychoMantis             1                         3           1.0  2013-02-14 18:00:58                NaN               Bob  2003-09-12 00:43:52             US  2013-02-28 14:19:01

In [0]:
#Checking duplicates
player_summary.loc[:,['steamid']].duplicated().sum() #0 no duplicates on steamid
pd.unique(pd.to_datetime(player_summary.dateretrieved).dt.year) #only 2013
pd.unique(pd.to_datetime(player_summary.dateretrieved).dt.month) #only Feb and march
pd.unique(pd.to_datetime(player_summary.dateretrieved).dt.day) #Most of the days
#[28,  6,  1, 18, 11, 14,  2,  3,  5,  4,  7,  8,  9, 10, 12, 15, 13, 17]

#will do column wise data cleaning later on

array([ 6, 28,  1, 11, 14,  2,  3,  5,  4,  7,  8,  9, 10, 12, 15, 13, 17])

In [0]:
#player_summary info
player_summary.count()[0] #63127 addicted gamers

63127

## FRIENDS

In [0]:
#Friend since has a default date of 1969-12-31
min(friends_data.friend_since) #'1969-12-31 17:00:00'
friends_data[friends_data.friend_since=='1969-12-31 17:00:00'].count()[0]*100/friends_data.count()[0] #2% of the data has such records

#Lets check if we can get some of these friends's steam account creation date
#data = friends_data.steamid_b.apply(lambda x: True if x in player_summary.steamid else False)
#data.sum() #0ops :(

#Need to change this date with the the median of the other dataset
#friends_data[(friends_data.friend_since!='1969-12-31 17:00:00')].head()
#friends_data[(friends_data.friend_since!='1969-12-31 17:00:00')].friend_since.min() #ok
#list = friends_data[(friends_data.friend_since!='1969-12-31 17:00:00')].sort_values('friend_since')['friend_since'].values
#print(list[len(list)//2]) #2013-02-26 18:36:20

#Fix old friend since
friends_data.friend_since = friends_data.friend_since.apply(lambda x: '2013-02-26 18:36:20' if x=='1969-12-31 17:00:00' else x)
min(friends_data.friend_since)

'2008-09-09 16:33:11'

In [0]:
##Check for duplicates
friends_data.duplicated().sum() #0
friends_data.drop(['friend_since','dateretrieved','LccTag','steamid'],axis=1).duplicated().sum() #0
friends_data.drop(['friend_since','relationship','dateretrieved','LccTag','steamid'],axis=1).duplicated().sum() #0

#steamid_a vs steamid : Are they same?
match = friends_data.steamid_a != friends_data.steamid
match.sum() #0 : Yes same

0

In [0]:
#Take only sample again
friends_data = friends_data[friends_data.steamid_a.isin(sample)]
print(friends_data.count()[0]) #3380989
friends_data.head()

3380989

             steamid_a          steamid_b relationship         friend_since        dateretrieved  LccTag            steamid
393  76561197960269425  76561197960265778       friend  2011-09-08 18:18:13  2013-05-06 15:59:26     NaN  76561197960269425
394  76561197960269425  76561197960269413       friend  2012-03-07 17:42:59  2013-05-06 15:17:00     NaN  76561197960269425
395  76561197960269425  76561197960269563       friend  2012-09-10 15:37:25  2013-05-06 15:17:13     NaN  76561197960269425
396  76561197960269425  76561197960418892       friend  2011-10-08 21:28:27  2013-05-06 19:15:52     NaN  76561197960269425
397  76561197960269425  76561197960429796       friend  2012-07-26 00:16:08  2013-05-06 15:59:26     NaN  76561197960269425

In [0]:
#Friends count and duration
pd.unique(friends_data.relationship) #Only friends
#friends_data.info()

#Get friend duration for each friendship
friends_data['friend_duration'] = (pd.to_datetime(friends_data.dateretrieved)-pd.to_datetime(friends_data.friend_since)).dt.days
friends_data.head()

             steamid_a          steamid_b relationship         friend_since        dateretrieved  LccTag            steamid  friend_duration
393  76561197960269425  76561197960265778       friend  2011-09-08 18:18:13  2013-05-06 15:59:26     NaN  76561197960269425              605
394  76561197960269425  76561197960269413       friend  2012-03-07 17:42:59  2013-05-06 15:17:00     NaN  76561197960269425              424
395  76561197960269425  76561197960269563       friend  2012-09-10 15:37:25  2013-05-06 15:17:13     NaN  76561197960269425              237
396  76561197960269425  76561197960418892       friend  2011-10-08 21:28:27  2013-05-06 19:15:52     NaN  76561197960269425              575
397  76561197960269425  76561197960429796       friend  2012-07-26 00:16:08  2013-05-06 15:59:26     NaN  76561197960269425              284

In [0]:
#Strength of friends : how many friends does the friend have
#friends_strength = friends_data.loc[:,['steamid_b','steamid_a']].groupby('steamid_b').count().reset_index()
#friends_strength.columns = ['steamid_b', 'friend_strength']
#friends_strength.head()

friends_count = friends_data.loc[:,['steamid_b','steamid_a']].groupby('steamid_a').count().reset_index()
friends_count.columns = ['steamid_a', 'no_of_friends']
friends_count.head()

           steamid_a  no_of_friends
0  76561197960269425             58
1  76561197960269501            304
2  76561197960269721              5
3  76561197960269752            116
4  76561197960270225             41

In [0]:
#Merge friends data with friends strength
#friends_join = friends_data.merge(friends_strength,how='inner',on='steamid_b')
#friends_join.head()

#Merge friends data with friends strength
friends_join = friends_data.merge(friends_count,how='inner',on='steamid_a')
friends_join.head()

           steamid_a          steamid_b relationship         friend_since        dateretrieved  LccTag            steamid  friend_duration  no_of_friends
0  76561197960269425  76561197960265778       friend  2011-09-08 18:18:13  2013-05-06 15:59:26     NaN  76561197960269425              605             58
1  76561197960269425  76561197960269413       friend  2012-03-07 17:42:59  2013-05-06 15:17:00     NaN  76561197960269425              424             58
2  76561197960269425  76561197960269563       friend  2012-09-10 15:37:25  2013-05-06 15:17:13     NaN  76561197960269425              237             58
3  76561197960269425  76561197960418892       friend  2011-10-08 21:28:27  2013-05-06 19:15:52     NaN  76561197960269425              575             58
4  76561197960269425  76561197960429796       friend  2012-07-26 00:16:08  2013-05-06 15:59:26     NaN  76561197960269425              284             58

In [0]:
friends_join.duplicated().sum() #0

0

In [0]:
#Friend count and friend duration average
friends = friends_join.loc[:,['steamid_a','friend_duration','no_of_friends']].groupby('steamid_a').agg({
    'friend_duration' : 'mean', 'no_of_friends' : 'mean'
}).reset_index()
friends.columns = ['steamid','avg_friend_duration','total_friend_connections']
friends.head()

             steamid  avg_friend_duration  total_friend_connections
0  76561197960269425           432.500000                        58
1  76561197960269501           319.717105                       304
2  76561197960269721           846.600000                         5
3  76561197960269752           347.750000                       116
4  76561197960270225           105.487805                        41

In [0]:
del friends_data
#del friends_strength
del friends_join

gc.collect()

0

## Game Genres

In [0]:
a = genres.groupby(by='appid',as_index=False).count()
a.columns = ['appid','count']
a.sort_values(by='count',ascending=False)
#389530

        appid  count
8015   313320     11
12275  376120     10
7365   300380     10
6269   280790      9
13088  389530      8
...       ...    ...
2189    99611      1
2190    99612      1
2191    99614      1
8060   314150      1
0          10      1

[17195 rows x 2 columns]

In [0]:
#Check for duplicates
genres.duplicated().sum() #0
pd.unique(genres.Genre)

array(['Action', 'Free to Play', 'Strategy', 'Adventure', 'Indie', 'RPG',
       'Animation & Modeling', 'Video Production', 'Casual', 'Simulation',
       'Racing', 'Massively Multiplayer', 'Sports', 'Early Access',
       'Photo Editing', 'Utilities', 'Design & Illustration', 'Education',
       'Software Training', 'Web Publishing', 'Audio Production',
       'Accounting'], dtype=object)

In [0]:
#Check for unique genres
#pd.unique(genres.Genre)
freetoplay_list = app_id[app_id.Price==0].appid.values
genres["free_to_play"] = genres["appid"].apply(lambda x: 1 if x in freetoplay_list else 0 )
genres.head()

   appid   Genre  free_to_play
0     10  Action             0
1     20  Action             0
2     30  Action             0
3     40  Action             0
4     50  Action             0

In [0]:
list = ['Action', 'Free to Play', 'Adventure', 'Indie', 'Strategy',
       'Simulation', 'RPG', 'Unknown', 'Casual', 'Massively Multiplayer',
       'Sports', 'Early Access', 'Racing']

genres = genres[genres.Genre.isin(list)]
pd.unique(genres.Genre)

array(['Action', 'Free to Play', 'Strategy', 'Adventure', 'Indie', 'RPG',
       'Casual', 'Simulation', 'Racing', 'Massively Multiplayer',
       'Sports', 'Early Access'], dtype=object)

In [0]:
#Genres : Check for duplicates
genres_count = genres.groupby('appid').agg(['count']).reset_index()
genres_count.columns = ['appid','count','free_to_play']
genres_count[genres_count['count']>1].count() #Multigenres present : 11954
max(genres_count['count']) #11

genres_count.head()

   appid  count  free_to_play
0     10      1             1
1     20      1             1
2     30      1             1
3     40      1             1
4     50      1             1


# **Time to join the dataframes to get one unified dataframe for analysis**

## Application information for analysis

In [0]:
merged = ac_count.merge(app_id,how='inner',on='appid')
merged = genres.merge(merged,how='inner',on='appid')
#merged.sort_values(by='appid').head()
merged.to_csv(app_id_merge_loc,index=False)

## Overall Joins, Transformations and New features

In [0]:
#Merge gameplay with genres
gameplay_genre = gameplay.merge(genres,how='left',on='appid')
gameplay_genre.sort_values(by=['steamid','appid']).head()

             steamid  appid  playtime_2weeks  playtime_forever        dateretrieved  unplayed  no_of_games   Genre  free_to_play
0  76561197960269425     10              0.0            1304.0  2013-05-06 15:59:30         0          222  Action           0.0
1  76561197960269425     20              0.0               0.0  2013-05-06 15:59:30         1          222  Action           0.0
2  76561197960269425     30              0.0               0.0  2013-05-06 15:59:30         1          222  Action           0.0
3  76561197960269425     40              0.0               0.0  2013-05-06 15:59:30         1          222  Action           0.0
4  76561197960269425     50              0.0             305.0  2013-05-06 15:59:30         0          222  Action           0.0

In [0]:
#Check for missing genres
gameplay_genre[gameplay_genre.Genre.isnull()].head()
gameplay_genre.Genre = gameplay_genre.Genre.apply(lambda x : 'Unknown' if pd.isnull(x) else x)
gameplay_genre.free_to_play = gameplay_genre.free_to_play.apply(lambda x : 0 if pd.isnull(x) else x)

len(pd.unique(gameplay_genre[gameplay_genre.Genre=='Unknown'].steamid)) #19973 steamids have unknown genres
gameplay_genre[gameplay_genre.Genre=='Unknown'].head()

               steamid   appid  playtime_2weeks  playtime_forever        dateretrieved  unplayed  no_of_games    Genre  free_to_play
151  76561197960269425   31410              0.0               5.0  2013-05-06 15:59:30         0          222  Unknown           0.0
163  76561197960269425   34220              0.0              44.0  2013-05-06 15:59:30         0          222  Unknown           0.0
206  76561197960269425   40990              0.0               0.0  2013-05-06 15:59:30         1          222  Unknown           0.0
209  76561197960269425   41210              0.0               0.0  2013-05-06 15:59:30         1          222  Unknown           0.0
393  76561197960269425  223530              0.0               0.0  2013-05-06 15:59:30         1          222  Unknown           0.0

In [0]:
#Rechecking minimum playtimes
game_group = gameplay_genre.groupby('steamid',as_index=False).agg({'playtime_2weeks':'sum','playtime_forever' : 'sum'})
game_group.sort_values('playtime_forever',ascending=True).head()
game_group.sort_values('playtime_2weeks',ascending=True).head()

#both are ok

                 steamid  playtime_2weeks  playtime_forever
25728  76561198018387074           5040.0          283145.0
2509   76561197967625449           5040.0           40328.0
9415   76561197988335848           5040.0          224327.0
36777  76561198034493181           5040.0           14842.0
24829  76561198016525592           5041.0           36959.0

In [0]:
#Add up the genres,gameplay and appid
gameplay_genre_appid = gameplay_genre.merge(app_id, how='left', on='appid')

gameplay_genre_appid['game_age'] = (pd.to_datetime('today')-pd.to_datetime(gameplay_genre_appid.Release_Date)).dt.days
gameplay_genre_appid.sort_values(by='steamid').head()

               steamid  appid  playtime_2weeks  playtime_forever        dateretrieved  unplayed  no_of_games       Genre  free_to_play                                      Title  Type  Price         Release_Date  Rating  Required_Age  Is_Multiplayer  Is_Adult  game_age
0    76561197960269425     10              0.0            1304.0  2013-05-06 15:59:30         0          222      Action           0.0                             Counter-Strike  game   9.99  2000-11-01 00:00:00    88.0           0.0             1.0       0.0    7036.0
268  76561197960269425  57700              0.0              19.0  2013-05-06 15:59:30         0          222      Action           0.0                        Who's That Flying?!  game   5.99  2011-01-31 00:00:00    76.0           0.0             0.0       0.0    3293.0
267  76561197960269425  57690              0.0            1277.0  2013-05-06 15:59:30         0          222    Strategy           0.0           Tropico 4: Steam Special Edition  game  14.99  2011-09-01 00:00:00    78.0           0.0             0.0       0.0    3080.0
266  76561197960269425  57690              0.0            1277.0  2013-05-06 15:59:30         0          222  Simulation           0.0           Tropico 4: Steam Special Edition  game  14.99  2011-09-01 00:00:00    78.0           0.0             0.0       0.0    3080.0
265  76561197960269425  57680              0.0               0.0  2013-05-06 15:59:30         1          222   Adventure           0.0  The First Templar - Steam Special Edition  game  19.99  2011-05-12 00:00:00    57.0           0.0             1.0       0.0    3192.0

In [0]:
del genres
del genres_count
del gameplay_genre
del game_group
gc.collect()

10

## Basic Cleaning

In [0]:
#Get the medians
app_id.isna().sum() #No nulls
median_price = app_id.Price.median()
app_id['game_age'] = (pd.to_datetime('today')-pd.to_datetime(app_id.Release_Date)).dt.days
median_game_age = app_id.game_age.median()
median_Age = app_id.Required_Age.median()
median_Rating = app_id.Rating.median()

In [0]:
#Checking nulls with appid merge
gameplay_genre_appid[gameplay_genre_appid.Title.isna()].head()

#median_price = gameplay_genre_appid[-gameplay_genre_appid.Price.isna()].Price.median() #9.99
#median_Age = gameplay_genre_appid[-gameplay_genre_appid.Required_Age.isna()].Required_Age.median() #0
#median_game_age = gameplay_genre_appid[-gameplay_genre_appid.game_age.isna()].game_age.median() #881
#median_Rating = gameplay_genre_appid[-gameplay_genre_appid.Rating.isna()].Rating.median() #881

#Fixing the nulls in the dataset
gameplay_genre_appid.Type = gameplay_genre_appid.Type.apply(lambda x : 'Unknown' if pd.isnull(x) else x)
gameplay_genre_appid.Price = gameplay_genre_appid.Price.apply(lambda x : median_price if pd.isnull(x) else x)
gameplay_genre_appid.Required_Age = gameplay_genre_appid.Required_Age.apply(lambda x : median_Age if pd.isnull(x) else x)
gameplay_genre_appid.game_age = gameplay_genre_appid.game_age.apply(lambda x : median_game_age if pd.isnull(x) else x)
gameplay_genre_appid.Is_Multiplayer = gameplay_genre_appid.Is_Multiplayer.apply(lambda x : 0 if pd.isnull(x) else x)
gameplay_genre_appid.Rating = gameplay_genre_appid.Rating.apply(lambda x : median_Rating if pd.isnull(x) else x)
gameplay_genre_appid.Is_Adult = gameplay_genre_appid.Is_Adult.apply(lambda x : 0 if pd.isnull(x) else x)

#Checking the dataset
gameplay_genre_appid[gameplay_genre_appid.Title.isna()].head()

               steamid   appid  playtime_2weeks  playtime_forever        dateretrieved  unplayed  no_of_games    Genre  free_to_play Title     Type  Price Release_Date  Rating  Required_Age  Is_Multiplayer  Is_Adult  game_age
151  76561197960269425   31410              0.0               5.0  2013-05-06 15:59:30         0          222  Unknown           0.0   NaN  Unknown   4.99          NaN    74.0           0.0             0.0       0.0    1848.0
163  76561197960269425   34220              0.0              44.0  2013-05-06 15:59:30         0          222  Unknown           0.0   NaN  Unknown   4.99          NaN    74.0           0.0             0.0       0.0    1848.0
206  76561197960269425   40990              0.0               0.0  2013-05-06 15:59:30         1          222  Unknown           0.0   NaN  Unknown   4.99          NaN    74.0           0.0             0.0       0.0    1848.0
209  76561197960269425   41210              0.0               0.0  2013-05-06 15:59:30         1          222  Unknown           0.0   NaN  Unknown   4.99          NaN    74.0           0.0             0.0       0.0    1848.0
393  76561197960269425  223530              0.0               0.0  2013-05-06 15:59:30         1          222  Unknown           0.0   NaN  Unknown   4.99          NaN    74.0           0.0             0.0       0.0    1848.0

## Final Join

In [0]:
#Its time to start the join on player summary data based on steamid
##Merge
player_gameplay_groups_friends_ac = player_summary.merge(gameplay_genre_appid,how='inner',on='steamid')
player_gameplay_groups_friends_ac = player_gameplay_groups_friends_ac.merge(groups, how='left',on='steamid')
player_gameplay_groups_friends_ac = player_gameplay_groups_friends_ac.merge(friends, how='left',on='steamid')
player_gameplay_groups_friends_ac = player_gameplay_groups_friends_ac.merge(ac_count, how='left',on='appid')

player_gameplay_groups_friends_ac.sort_values(by=['steamid','appid']).head()

             steamid personaname  personastate  communityvisibilitystate  profilestate           lastlogoff  commentpermission realname          timecreated loccountrycode      dateretrieved_x  appid  playtime_2weeks  playtime_forever      dateretrieved_y  unplayed  no_of_games   Genre  free_to_play                      Title  Type  Price         Release_Date  Rating  Required_Age  Is_Multiplayer  Is_Adult  game_age  no_of_groups  total_group_connections  avg_friend_duration  total_friend_connections  avg_percentage_completion  total_achievements
0  76561197960269425        lone             1                         3           1.0  2013-03-06 13:01:11                1.0    Casey  2003-09-12 00:18:47             US  2013-03-06 16:18:05     10              0.0            1304.0  2013-05-06 15:59:30         0          222  Action           0.0             Counter-Strike  game   9.99  2000-11-01 00:00:00    88.0           0.0             1.0       0.0    7036.0          12.0                 379079.0                432.5                        58                        NaN                 NaN
1  76561197960269425        lone             1                         3           1.0  2013-03-06 13:01:11                1.0    Casey  2003-09-12 00:18:47             US  2013-03-06 16:18:05     20              0.0               0.0  2013-05-06 15:59:30         1          222  Action           0.0      Team Fortress Classic  game   4.99  1999-04-01 00:00:00    74.0           0.0             1.0       0.0    7616.0          12.0                 379079.0                432.5                        58                        NaN                 NaN
2  76561197960269425        lone             1                         3           1.0  2013-03-06 13:01:11                1.0    Casey  2003-09-12 00:18:47             US  2013-03-06 16:18:05     30              0.0               0.0  2013-05-06 15:59:30         1          222  Action           0.0              Day of Defeat  game   4.99  2003-05-01 00:00:00    79.0           0.0             1.0       0.0    6125.0          12.0                 379079.0                432.5                        58                        NaN                 NaN
3  76561197960269425        lone             1                         3           1.0  2013-03-06 13:01:11                1.0    Casey  2003-09-12 00:18:47             US  2013-03-06 16:18:05     40              0.0               0.0  2013-05-06 15:59:30         1          222  Action           0.0         Deathmatch Classic  game   4.99  2001-06-01 00:00:00    74.0           0.0             1.0       0.0    6824.0          12.0                 379079.0                432.5                        58                        NaN                 NaN
4  76561197960269425        lone             1                         3           1.0  2013-03-06 13:01:11                1.0    Casey  2003-09-12 00:18:47             US  2013-03-06 16:18:05     50              0.0             305.0  2013-05-06 15:59:30         0          222  Action           0.0  Half-Life: Opposing Force  game   4.99  1999-11-01 00:00:00    74.0           0.0             1.0       0.0    7402.0          12.0                 379079.0                432.5                        58                   0.057843                 5.0

In [0]:
del gameplay_genre_appid
del player_summary
gc.collect()

0

In [0]:
#Time to clean and create some new features from the dataset : player_gameplay_groups_friends_ac

#player_gameplay_groups_friends_ac.personaname.isna().sum() #1462 NA ***REMOVE THIS NA and then The Column***
#player_gameplay_groups_friends_ac[player_gameplay_groups_friends_ac.personaname.isna()].head()
#player_gameplay_groups_friends_ac.personastate.isna().sum() #no NA
#pd.unique(player_gameplay_groups_friends_ac.personastate) #array([0, 1, 4, 3, 2, 5, 6])
#pd.unique(player_gameplay_groups_friends_ac.personastate) #OK
#pd.unique(player_gameplay_groups_friends_ac.communityvisibilitystate) #May not be needed
#player_gameplay_groups_friends_ac.profilestate.isna().sum() #217565 NA present ***NEED TO CLEAN***
#pd.unique(player_gameplay_groups_friends_ac.profilestate) #1,3 and NAN. Unsure of what means what
#player_gameplay_groups_friends_ac.lastlogoff.isna().sum() #898 NA   *** NEED TO CLEAN ***
#player_gameplay_groups_friends_ac[player_gameplay_groups_friends_ac.lastlogoff.isna()]
#pd.unique(player_gameplay_groups_friends_ac.commentpermission) #Make NA -> 0
#player_gameplay_groups_friends_ac.realname.isna().sum() #3578419 NA ***Check if Realname is given or not 0/1***
#player_gameplay_groups_friends_ac.timecreated.isna().sum() #362609 : ***NEED TO CLEAN***
#pd.unique(player_gameplay_groups_friends_ac.loccountrycode) #NA present **REMOVE THIS COLUMN***
#player_gameplay_groups_friends_ac[player_gameplay_groups_friends_ac.loccountrycode=='US'].count() #1861174 US data
#len(pd.unique(player_gameplay_groups_friends_ac[player_gameplay_groups_friends_ac.loccountrycode=='US'].steamid)) #only 7126 diff steamid
#11262 users

#player_gameplay_groups_friends_ac.loccountrycode.isna().sum() #A lot of NA : 3593240
#player_gameplay_groups_friends_ac.playtime_2weeks.isna().sum() #no NA
#player_gameplay_groups_friends_ac.playtime_forever.isna().sum() #no NA
#player_gameplay_groups_friends_ac.Type.isna().sum() #Many NA
#player_gameplay_groups_friends_ac[player_gameplay_groups_friends_ac.Type.isna()].head()
#player_gameplay_groups_friends_ac.Price.isna().sum() #no NA
#player_gameplay_groups_friends_ac.Rating.isna().sum() #no NA
#player_gameplay_groups_friends_ac.Required_Age.isna().sum() #no NA
#player_gameplay_groups_friends_ac.Is_Multiplayer.isna().sum() #no NA
#player_gameplay_groups_friends_ac.game_age.isna().sum() #no NA

#player_gameplay_groups_friends_ac.avg_friend_duration.isna().sum() #0
#player_gameplay_groups_friends_ac[player_gameplay_groups_friends_ac.avg_friend_duration.isna()].head()
#player_gameplay_groups_friends_ac.avg_percentage_completion.isna().sum() #3863738 NA
#player_gameplay_groups_friends_ac.total_achievements.isna().sum() #3863738 NA

#player_gameplay_groups_friends_ac[-player_gameplay_groups_friends_ac.total_achievements.isna()].total_achievements.median() #48 is median without NAs
#player_gameplay_groups_friends_ac[-player_gameplay_groups_friends_ac.avg_percentage_completion.isna()].avg_percentage_completion.median() #13.8 is median without NAs

#Commented out for easy checking by uncommenting and running

In [0]:
#Time to do some cleaning

#personaname filter NA
player_gameplay_groups_friends_ac = player_gameplay_groups_friends_ac[-player_gameplay_groups_friends_ac.personaname.isna()]

#timecreated
player_gameplay_groups_friends_ac =  player_gameplay_groups_friends_ac[-player_gameplay_groups_friends_ac.timecreated.isna()]

#Profilestate filter NA
#pd.unique(player_gameplay_groups_friends_ac.profilestate)
player_dataset = player_gameplay_groups_friends_ac#[-player_gameplay_groups_friends_ac.profilestate.isna()]
#player_dataset.head()
#Profilestate not required anymore

#lastlogoff filter NA
player_dataset = player_dataset[-player_dataset.lastlogoff.isna()]
player_dataset.head()

#commentpermission NA -> 0
player_dataset['commentpermission'] = player_dataset['commentpermission'].apply( lambda x: 0 if np.isnan(x) else x) 

#realname NA -> 0 else 1
player_dataset['realname'] = player_dataset['realname'].apply( lambda x: 0 if pd.isnull(x) else 1) 
player_dataset.head()

#avg_frnd_duration NA -> 0 else 1
player_dataset['avg_friend_duration'] = player_dataset['avg_friend_duration'].apply( lambda x: 0 if pd.isnull(x) else x)

#Null loccountrycode
player_dataset['loccountrycode'] = player_dataset['loccountrycode'].apply( lambda x: 'Unknown' if pd.isna(x) else x) 

#Null avg_percentage_completion and total_achievements
med_tot_ach = player_gameplay_groups_friends_ac[-player_gameplay_groups_friends_ac.total_achievements.isna()].total_achievements.median()
med_avg = player_gameplay_groups_friends_ac[-player_gameplay_groups_friends_ac.avg_percentage_completion.isna()].avg_percentage_completion.median()

player_dataset['avg_percentage_completion'] = player_dataset['avg_percentage_completion'].apply( lambda x: med_avg if pd.isna(x) else x) 
player_dataset['total_achievements'] = player_dataset['total_achievements'].apply( lambda x: med_tot_ach if pd.isna(x) else x) ##

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
player_dataset = player_dataset.drop('dateretrieved_x',axis=1)

#Create new feature
player_dataset['loggoff_duration'] = (pd.to_datetime(player_dataset.dateretrieved_y)-pd.to_datetime(player_dataset.lastlogoff)).dt.days
player_dataset['account_age'] = (pd.to_datetime(player_dataset.dateretrieved_y)-pd.to_datetime(player_dataset.timecreated)).dt.days
player_dataset.head(n=10)

             steamid personaname  personastate  communityvisibilitystate  profilestate           lastlogoff  commentpermission  realname          timecreated loccountrycode  appid  playtime_2weeks  playtime_forever      dateretrieved_y  unplayed  no_of_games   Genre  free_to_play                           Title  Type  Price         Release_Date  Rating  Required_Age  Is_Multiplayer  Is_Adult  game_age  no_of_groups  total_group_connections  avg_friend_duration  total_friend_connections  avg_percentage_completion  total_achievements  loggoff_duration  account_age
0  76561197960269425        lone             1                         3           1.0  2013-03-06 13:01:11                1.0         1  2003-09-12 00:18:47             US     10              0.0            1304.0  2013-05-06 15:59:30         0          222  Action           0.0                  Counter-Strike  game   9.99  2000-11-01 00:00:00    88.0           0.0             1.0       0.0    7036.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
1  76561197960269425        lone             1                         3           1.0  2013-03-06 13:01:11                1.0         1  2003-09-12 00:18:47             US     20              0.0               0.0  2013-05-06 15:59:30         1          222  Action           0.0           Team Fortress Classic  game   4.99  1999-04-01 00:00:00    74.0           0.0             1.0       0.0    7616.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
2  76561197960269425        lone             1                         3           1.0  2013-03-06 13:01:11                1.0         1  2003-09-12 00:18:47             US     30              0.0               0.0  2013-05-06 15:59:30         1          222  Action           0.0                   Day of Defeat  game   4.99  2003-05-01 00:00:00    79.0           0.0             1.0       0.0    6125.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
3  76561197960269425        lone             1                         3           1.0  2013-03-06 13:01:11                1.0         1  2003-09-12 00:18:47             US     40              0.0               0.0  2013-05-06 15:59:30         1          222  Action           0.0              Deathmatch Classic  game   4.99  2001-06-01 00:00:00    74.0           0.0             1.0       0.0    6824.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
4  76561197960269425        lone             1                         3           1.0  2013-03-06 13:01:11                1.0         1  2003-09-12 00:18:47             US     50              0.0             305.0  2013-05-06 15:59:30         0          222  Action           0.0       Half-Life: Opposing Force  game   4.99  1999-11-01 00:00:00    74.0           0.0             1.0       0.0    7402.0          12.0                 379079.0                432.5                        58                   0.057843                 5.0                61         3524
5  76561197960269425        lone             1                         3           1.0  2013-03-06 13:01:11                1.0         1  2003-09-12 00:18:47             US     60              0.0               0.0  2013-05-06 15:59:30         1          222  Action           0.0                        Ricochet  game   4.99  2000-11-01 00:00:00    74.0           0.0             1.0       0.0    7036.0          12.0                 379079.0                432.5                        58                   0.043437                 3.0                61         3524
6  76561197960269425        lone             1                         3           1.0  2013-03-06 13:01:11                1.0         1  2003-09-12 00:18:47             US     70              0.0               0.0  2013-05-06 15:59:30         1          222  Action           0.0                       Half-Life  game   9.99  1998-11-08 00:00:00    96.0           0.0             1.0       0.0    7760.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
7  76561197960269425        lone             1                         3           1.0  2013-03-06 13:01:11                1.0         1  2003-09-12 00:18:47             US     80              0.0             192.0  2013-05-06 15:59:30         0          222  Action           0.0  Counter-Strike: Condition Zero  game   9.99  2004-03-01 00:00:00    65.0           0.0             1.0       0.0    5820.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
8  76561197960269425        lone             1                         3           1.0  2013-03-06 13:01:11                1.0         1  2003-09-12 00:18:47             US    100              0.0             452.0  2013-05-06 15:59:30         0          222  Action           0.0  Counter-Strike: Condition Zero  game   9.99  2004-03-01 00:00:00    65.0           0.0             1.0       0.0    5820.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
9  76561197960269425        lone             1                         3           1.0  2013-03-06 13:01:11                1.0         1  2003-09-12 00:18:47             US    130              0.0             177.0  2013-05-06 15:59:30         0          222  Action           0.0           Half-Life: Blue Shift  game   4.99  2001-06-01 00:00:00    71.0           0.0             0.0       0.0    6824.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524

In [0]:
#Remove unneeded columns
player_dataset.columns.values

player_dataset.drop(['personaname','Title','personastate',
       'communityvisibilitystate', 'profilestate'],axis=1,inplace=True)
player_dataset.head()

             steamid           lastlogoff  commentpermission  realname          timecreated loccountrycode  appid  playtime_2weeks  playtime_forever      dateretrieved_y  unplayed  no_of_games   Genre  free_to_play  Type  Price         Release_Date  Rating  Required_Age  Is_Multiplayer  Is_Adult  game_age  no_of_groups  total_group_connections  avg_friend_duration  total_friend_connections  avg_percentage_completion  total_achievements  loggoff_duration  account_age
0  76561197960269425  2013-03-06 13:01:11                1.0         1  2003-09-12 00:18:47             US     10              0.0            1304.0  2013-05-06 15:59:30         0          222  Action           0.0  game   9.99  2000-11-01 00:00:00    88.0           0.0             1.0       0.0    7036.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
1  76561197960269425  2013-03-06 13:01:11                1.0         1  2003-09-12 00:18:47             US     20              0.0               0.0  2013-05-06 15:59:30         1          222  Action           0.0  game   4.99  1999-04-01 00:00:00    74.0           0.0             1.0       0.0    7616.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
2  76561197960269425  2013-03-06 13:01:11                1.0         1  2003-09-12 00:18:47             US     30              0.0               0.0  2013-05-06 15:59:30         1          222  Action           0.0  game   4.99  2003-05-01 00:00:00    79.0           0.0             1.0       0.0    6125.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
3  76561197960269425  2013-03-06 13:01:11                1.0         1  2003-09-12 00:18:47             US     40              0.0               0.0  2013-05-06 15:59:30         1          222  Action           0.0  game   4.99  2001-06-01 00:00:00    74.0           0.0             1.0       0.0    6824.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
4  76561197960269425  2013-03-06 13:01:11                1.0         1  2003-09-12 00:18:47             US     50              0.0             305.0  2013-05-06 15:59:30         0          222  Action           0.0  game   4.99  1999-11-01 00:00:00    74.0           0.0             1.0       0.0    7402.0          12.0                 379079.0                432.5                        58                   0.057843                 5.0                61         3524

In [0]:
player_dataset.count()[0] #8380716

8481964

In [0]:
#Remove unwanted columns
player_dataset.drop(['lastlogoff','timecreated','loccountrycode','dateretrieved_y','Release_Date'],axis=1,inplace=True)
player_dataset.head()

             steamid  commentpermission  realname  appid  playtime_2weeks  playtime_forever  unplayed  no_of_games   Genre  free_to_play  Type  Price  Rating  Required_Age  Is_Multiplayer  Is_Adult  game_age  no_of_groups  total_group_connections  avg_friend_duration  total_friend_connections  avg_percentage_completion  total_achievements  loggoff_duration  account_age
0  76561197960269425                1.0         1     10              0.0            1304.0         0          222  Action           0.0  game   9.99    88.0           0.0             1.0       0.0    7036.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
1  76561197960269425                1.0         1     20              0.0               0.0         1          222  Action           0.0  game   4.99    74.0           0.0             1.0       0.0    7616.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
2  76561197960269425                1.0         1     30              0.0               0.0         1          222  Action           0.0  game   4.99    79.0           0.0             1.0       0.0    6125.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
3  76561197960269425                1.0         1     40              0.0               0.0         1          222  Action           0.0  game   4.99    74.0           0.0             1.0       0.0    6824.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
4  76561197960269425                1.0         1     50              0.0             305.0         0          222  Action           0.0  game   4.99    74.0           0.0             1.0       0.0    7402.0          12.0                 379079.0                432.5                        58                   0.057843                 5.0                61         3524

## Write to file for future analysis

In [0]:
#Write this file to google drive for EDA later on
player_dataset.to_csv(player_dataset_loc,index=False)#

# Time to bring all data into same grain

### Grouping : Summarizing

In [0]:
grouped_data = player_dataset.groupby(['steamid','appid','Genre','Type']).agg({"commentpermission":['mean']
                                       ,"realname":['mean']
                                       ,"playtime_2weeks":['sum']
                                       ,"playtime_forever":['sum']
                                       ,"no_of_games":['mean']
                                       ,"free_to_play":['sum']
                                       ,"Price":['sum']
                                       ,"Rating":['mean']
                                       ,"Required_Age":['mean']
                                       ,"Is_Multiplayer":['mean']
                                       ,"Is_Adult":['mean']
                                       ,"unplayed":['mean']
                                       ,"game_age":['mean']
                                       ,"no_of_groups":['mean']
                                       ,"total_group_connections":['mean']
                                       ,"avg_friend_duration":['mean']
                                       ,"total_friend_connections":['mean']
                                       ,"avg_percentage_completion":['mean']
                                       ,"total_achievements":['mean']
                                       ,"loggoff_duration":['mean']
                                       ,"account_age":['mean']
                                      }).reset_index()

grouped_data.head()

             steamid appid   Genre  Type commentpermission realname playtime_2weeks playtime_forever no_of_games free_to_play Price Rating Required_Age Is_Multiplayer Is_Adult unplayed game_age no_of_groups total_group_connections avg_friend_duration total_friend_connections avg_percentage_completion total_achievements loggoff_duration account_age
                                                      mean     mean             sum              sum        mean          sum   sum   mean         mean           mean     mean     mean     mean         mean                    mean                mean                     mean                      mean               mean             mean        mean
0  76561197960269425    10  Action  game               1.0        1             0.0           1304.0         222          0.0  9.99   88.0          0.0            1.0      0.0        0   7036.0         12.0                379079.0               432.5                       58                 13.819854               48.0               61        3524
1  76561197960269425    20  Action  game               1.0        1             0.0              0.0         222          0.0  4.99   74.0          0.0            1.0      0.0        1   7616.0         12.0                379079.0               432.5                       58                 13.819854               48.0               61        3524
2  76561197960269425    30  Action  game               1.0        1             0.0              0.0         222          0.0  4.99   79.0          0.0            1.0      0.0        1   6125.0         12.0                379079.0               432.5                       58                 13.819854               48.0               61        3524
3  76561197960269425    40  Action  game               1.0        1             0.0              0.0         222          0.0  4.99   74.0          0.0            1.0      0.0        1   6824.0         12.0                379079.0               432.5                       58                 13.819854               48.0               61        3524
4  76561197960269425    50  Action  game               1.0        1             0.0            305.0         222          0.0  4.99   74.0          0.0            1.0      0.0        0   7402.0         12.0                379079.0               432.5                       58                  0.057843                5.0               61        3524

In [0]:
grouped_data.columns  = ['steamid','appid','Genre','Type','commentpermission','realname','playtime_2weeks','playtime_forever'
                        ,'no_of_games','free_to_play','Price','Rating','Required_Age','Is_Multiplayer','Is_Adult','unplayed','game_age'
                        ,'no_of_groups','total_group_connections','avg_friend_duration','total_friend_connections','avg_percentage_completion','total_achievements'
                        ,'loggoff_duration','account_age']

grouped_data.head()

             steamid  appid   Genre  Type  commentpermission  realname  playtime_2weeks  playtime_forever  no_of_games  free_to_play  Price  Rating  Required_Age  Is_Multiplayer  Is_Adult  unplayed  game_age  no_of_groups  total_group_connections  avg_friend_duration  total_friend_connections  avg_percentage_completion  total_achievements  loggoff_duration  account_age
0  76561197960269425     10  Action  game                1.0         1              0.0            1304.0          222           0.0   9.99    88.0           0.0             1.0       0.0         0    7036.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
1  76561197960269425     20  Action  game                1.0         1              0.0               0.0          222           0.0   4.99    74.0           0.0             1.0       0.0         1    7616.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
2  76561197960269425     30  Action  game                1.0         1              0.0               0.0          222           0.0   4.99    79.0           0.0             1.0       0.0         1    6125.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
3  76561197960269425     40  Action  game                1.0         1              0.0               0.0          222           0.0   4.99    74.0           0.0             1.0       0.0         1    6824.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524
4  76561197960269425     50  Action  game                1.0         1              0.0             305.0          222           0.0   4.99    74.0           0.0             1.0       0.0         0    7402.0          12.0                 379079.0                432.5                        58                   0.057843                 5.0                61         3524

In [0]:
grouped_data.columns

Index(['steamid', 'appid', 'Genre', 'Type', 'commentpermission', 'realname', 'playtime_2weeks', 'playtime_forever', 'no_of_games', 'free_to_play', 'Price', 'Rating', 'Required_Age', 'Is_Multiplayer', 'Is_Adult', 'unplayed', 'game_age', 'no_of_groups', 'total_group_connections', 'avg_friend_duration', 'total_friend_connections', 'avg_percentage_completion', 'total_achievements', 'loggoff_duration', 'account_age'], dtype='object')

In [0]:
grouped_data["Playtime_2weeks_bygenre"] = grouped_data["Genre"]
grouped_data["Playtime_forever_bygenre"] = grouped_data["Genre"]
grouped_data.head()

             steamid  appid   Genre  Type  commentpermission  realname  playtime_2weeks  playtime_forever  no_of_games  free_to_play  Price  Rating  Required_Age  Is_Multiplayer  Is_Adult  unplayed  game_age  no_of_groups  total_group_connections  avg_friend_duration  total_friend_connections  avg_percentage_completion  total_achievements  loggoff_duration  account_age Playtime_2weeks_bygenre Playtime_forever_bygenre
0  76561197960269425     10  Action  game                1.0         1              0.0            1304.0          222           0.0   9.99    88.0           0.0             1.0       0.0         0    7036.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524                  Action                   Action
1  76561197960269425     20  Action  game                1.0         1              0.0               0.0          222           0.0   4.99    74.0           0.0             1.0       0.0         1    7616.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524                  Action                   Action
2  76561197960269425     30  Action  game                1.0         1              0.0               0.0          222           0.0   4.99    79.0           0.0             1.0       0.0         1    6125.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524                  Action                   Action
3  76561197960269425     40  Action  game                1.0         1              0.0               0.0          222           0.0   4.99    74.0           0.0             1.0       0.0         1    6824.0          12.0                 379079.0                432.5                        58                  13.819854                48.0                61         3524                  Action                   Action
4  76561197960269425     50  Action  game                1.0         1              0.0             305.0          222           0.0   4.99    74.0           0.0             1.0       0.0         0    7402.0          12.0                 379079.0                432.5                        58                   0.057843                 5.0                61         3524                  Action                   Action

In [0]:
dummies = pd.get_dummies(grouped_data.loc[:,['Genre','Playtime_2weeks_bygenre','Playtime_forever_bygenre','Type']])
dummies.head()

,Genre_Action,Genre_Adventure,Genre_Casual,Genre_Early Access,Genre_Free to Play,Genre_Indie,Genre_Massively Multiplayer,Genre_RPG,Genre_Racing,Genre_Simulation,Genre_Sports,Genre_Strategy,Genre_Unknown,Playtime_2weeks_bygenre_Action,Playtime_2weeks_bygenre_Adventure,Playtime_2weeks_bygenre_Casual,Playtime_2weeks_bygenre_Early Access,Playtime_2weeks_bygenre_Free to Play,Playtime_2weeks_bygenre_Indie,Playtime_2weeks_bygenre_Massively Multiplayer,Playtime_2weeks_bygenre_RPG,Playtime_2weeks_bygenre_Racing,Playtime_2weeks_bygenre_Simulation,Playtime_2weeks_bygenre_Sports,Playtime_2weeks_bygenre_Strategy,Playtime_2weeks_bygenre_Unknown,Playtime_forever_bygenre_Action,Playtime_forever_bygenre_Adventure,Playtime_forever_bygenre_Casual,Playtime_forever_bygenre_Early Access,Playtime_forever_bygenre_Free to Play,Playtime_forever_bygenre_Indie,Playtime_forever_bygenre_Massively Multiplayer,Playtime_forever_bygenre_RPG,Playtime_forever_bygenre_Racing,Playtime_forever_bygenre_Simulation,Playtime_forever_bygenre_Sports,Playtime_forever_bygenre_Strategy,Playtime_forever_bygenre_Unknown,Type_Unknown,Type_demo,Type_dlc,Type_game,Type_mod
0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [0]:
dummies = pd.concat([grouped_data,dummies],axis=1)
dummies.head()

,steamid,appid,Genre,Type,commentpermission,realname,playtime_2weeks,playtime_forever,no_of_games,free_to_play,Price,Rating,Required_Age,Is_Multiplayer,Is_Adult,unplayed,game_age,no_of_groups,total_group_connections,avg_friend_duration,total_friend_connections,avg_percentage_completion,total_achievements,loggoff_duration,account_age,Playtime_2weeks_bygenre,Playtime_forever_bygenre,Genre_Action,Genre_Adventure,Genre_Casual,Genre_Early Access,Genre_Free to Play,Genre_Indie,Genre_Massively Multiplayer,Genre_RPG,Genre_Racing,Genre_Simulation,Genre_Sports,Genre_Strategy,Genre_Unknown,Playtime_2weeks_bygenre_Action,Playtime_2weeks_bygenre_Adventure,Playtime_2weeks_bygenre_Casual,Playtime_2weeks_bygenre_Early Access,Playtime_2weeks_bygenre_Free to Play,Playtime_2weeks_bygenre_Indie,Playtime_2weeks_bygenre_Massively Multiplayer,Playtime_2weeks_bygenre_RPG,Playtime_2weeks_bygenre_Racing,Playtime_2weeks_bygenre_Simulation,Playtime_2weeks_bygenre_Sports,Playtime_2weeks_bygenre_Strategy,Playtime_2weeks_bygenre_Unknown,Playtime_forever_bygenre_Action,Playtime_forever_bygenre_Adventure,Playtime_forever_bygenre_Casual,Playtime_forever_bygenre_Early Access,Playtime_forever_bygenre_Free to Play,Playtime_forever_bygenre_Indie,Playtime_forever_bygenre_Massively Multiplayer,Playtime_forever_bygenre_RPG,Playtime_forever_bygenre_Racing,Playtime_forever_bygenre_Simulation,Playtime_forever_bygenre_Sports,Playtime_forever_bygenre_Strategy,Playtime_forever_bygenre_Unknown,Type_Unknown,Type_demo,Type_dlc,Type_game,Type_mod
0,76561197960269425,10,Action,game,1.0,1,0.0,1304.0,222,0.0,9.99,88.0,0.0,1.0,0.0,0,7036.0,12.0,379079.0,432.5,58,13.819854,48.0,61,3524,Action,Action,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,76561197960269425,20,Action,game,1.0,1,0.0,0.0,222,0.0,4.99,74.0,0.0,1.0,0.0,1,7616.0,12.0,379079.0,432.5,58,13.819854,48.0,61,3524,Action,Action,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,76561197960269425,30,Action,game,1.0,1,0.0,0.0,222,0.0,4.99,79.0,0.0,1.0,0.0,1,6125.0,12.0,379079.0,432.5,58,13.819854,48.0,61,3524,Action,Action,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,76561197960269425,40,Action,game,1.0,1,0.0,0.0,222,0.0,4.99,74.0,0.0,1.0,0.0,1,6824.0,12.0,379079.0,432.5,58,13.819854,48.0,61,3524,Action,Action,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,76561197960269425,50,Action,game,1.0,1,0.0,305.0,222,0.0,4.99,74.0,0.0,1.0,0.0,0,7402.0,12.0,379079.0,432.5,58,0.057843,5.0,61,3524,Action,Action,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [0]:
#a = player_gameplay_groups_friends_ac.loc[:,['steamid','appid','Genre','Type','personaname']].groupby(
#    by=['steamid','appid','Genre','Type'],as_index=False).count()

#a[a.personaname>1].head()

player_gameplay_groups_friends_ac[(player_gameplay_groups_friends_ac.steamid==76561197960309697)
                                   # &(player_gameplay_groups_friends_ac.appid==440)
                                   ]#.head()

#grouped_data[(grouped_data.steamid==76561197960269425) &
#                                   (grouped_data.appid==440)].head()

#player_gameplay_groups_friends_ac.count()[0] #8482803
#grouped_data.count()[0]

#dummies.sort_values(by=['Is_Adult'],ascending=False)
#dummies[dummies.no_of_games<dummies.Is_Adult].head()
app_id[app_id.appid==42680]

      appid                             Title  Type  Price         Release_Date  Rating  Required_Age  Is_Multiplayer  Is_Adult  game_age
1459  42680  Call of Duty®: Modern Warfare® 3  game  39.99  2011-11-08 00:00:00      74            17               1         0      3012

In [0]:
#len(
    #pd.unique(data_dummy.Genre)
#)

dummies.count()[0]

8481964

In [0]:
pd.unique(dummies.Genre)

array(['Action', 'Free to Play', 'Strategy', 'Adventure', 'Indie', 'RPG',
       'Simulation', 'Casual', 'Sports', 'Early Access', 'Unknown',
       'Racing', 'Massively Multiplayer'], dtype=object)

In [0]:
#pd.unique(dummies.Genre)
dummies.count()[0]  #8380716

8481964

### Separate all genres into separate dataframes for efficient transformations

In [0]:
dummies.columns = ['steamid', 'appid', 'Genre', 'Type', 'commentpermission',
       'realname', 'playtime_2weeks', 'playtime_forever', 'no_of_games',
       'free_to_play', 'Price', 'Rating', 'Required_Age',
       'Is_Multiplayer', 'Is_Adult', 'unplayed', 'game_age',
       'no_of_groups', 'total_group_connections', 'avg_friend_duration',
       'total_friend_connections', 'avg_percentage_completion',
       'total_achievements', 'loggoff_duration', 'account_age',
       'Playtime_2weeks_bygenre', 'Playtime_forever_bygenre',
       'Genre_Action', 'Genre_Adventure', 'Genre_Casual',
       'Genre_Early', 'Genre_Free', 'Genre_Indie',
       'Genre_Multiplayer', 'Genre_RPG', 'Genre_Racing',
       'Genre_Simulation', 'Genre_Sports', 'Genre_Strategy',
       'Genre_Unknown', 'Playtime_2weeks_bygenre_Action',
       'Playtime_2weeks_bygenre_Adventure',
       'Playtime_2weeks_bygenre_Casual',
       'Playtime_2weeks_bygenre_Early',
       'Playtime_2weeks_bygenre_Free',
       'Playtime_2weeks_bygenre_Indie',
       'Playtime_2weeks_bygenre_Multiplayer',
       'Playtime_2weeks_bygenre_RPG', 'Playtime_2weeks_bygenre_Racing',
       'Playtime_2weeks_bygenre_Simulation',
       'Playtime_2weeks_bygenre_Sports',
       'Playtime_2weeks_bygenre_Strategy',
       'Playtime_2weeks_bygenre_Unknown',
       'Playtime_forever_bygenre_Action',
       'Playtime_forever_bygenre_Adventure',
       'Playtime_forever_bygenre_Casual',
       'Playtime_forever_bygenre_Early',
       'Playtime_forever_bygenre_Free',
       'Playtime_forever_bygenre_Indie',
       'Playtime_forever_bygenre_Multiplayer',
       'Playtime_forever_bygenre_RPG', 'Playtime_forever_bygenre_Racing',
       'Playtime_forever_bygenre_Simulation',
       'Playtime_forever_bygenre_Sports',
       'Playtime_forever_bygenre_Strategy',
       'Playtime_forever_bygenre_Unknown', 'Type_Unknown', 'Type_demo',
       'Type_dlc', 'Type_game', 'Type_mod']

In [0]:
dummies_Action = dummies[dummies.Genre.isin(['Action'])]
dummies_Free = dummies[dummies.Genre.isin(['Free to Play'])]
dummies_Adventure = dummies[dummies.Genre.isin(['Adventure'])]
dummies_Indie = dummies[dummies.Genre.isin(['Indie'])]
dummies_Strategy = dummies[dummies.Genre.isin(['Strategy'])]
dummies_Simulation = dummies[dummies.Genre.isin(['Simulation'])]
dummies_RPG = dummies[dummies.Genre.isin(['RPG'])]
dummies_Unknown = dummies[dummies.Genre.isin(['Unknown'])]
dummies_Casual = dummies[dummies.Genre.isin(['Casual'])]
dummies_Multiplayer = dummies[dummies.Genre.isin(['Massively Multiplayer'])]
dummies_Sports = dummies[dummies.Genre.isin(['Sports'])]
dummies_Early = dummies[dummies.Genre.isin(['Early Access'])]
dummies_Racing = dummies[dummies.Genre.isin(['Racing'])]

In [0]:
#pd.unique(dummies_Adventure.Genre)

In [0]:
dummies_Action.Playtime_2weeks_bygenre_Action = dummies_Action.playtime_2weeks
dummies_Action.Playtime_forever_bygenre_Action = dummies_Action.playtime_forever
dummies_Free.Playtime_2weeks_bygenre_Free = dummies_Free.playtime_2weeks
dummies_Free.Playtime_forever_bygenre_Free = dummies_Free.playtime_forever
dummies_Adventure.Playtime_2weeks_bygenre_Adventure = dummies_Adventure.playtime_2weeks
dummies_Adventure.Playtime_forever_bygenre_Adventure = dummies_Adventure.playtime_forever
dummies_Indie.Playtime_2weeks_bygenre_Indie = dummies_Indie.playtime_2weeks
dummies_Indie.Playtime_forever_bygenre_Indie = dummies_Indie.playtime_forever
dummies_Strategy.Playtime_2weeks_bygenre_Strategy = dummies_Strategy.playtime_2weeks
dummies_Strategy.Playtime_forever_bygenre_Strategy = dummies_Strategy.playtime_forever
dummies_RPG.Playtime_2weeks_bygenre_RPG = dummies_RPG.playtime_2weeks
dummies_RPG.Playtime_forever_bygenre_RPG = dummies_RPG.playtime_forever
dummies_Unknown.Playtime_2weeks_bygenre_Unknown = dummies_Unknown.playtime_2weeks
dummies_Unknown.Playtime_forever_bygenre_Unknown = dummies_Unknown.playtime_forever
dummies_Casual.Playtime_2weeks_bygenre_Casual = dummies_Casual.playtime_2weeks
dummies_Casual.Playtime_forever_bygenre_Casual = dummies_Casual.playtime_forever
dummies_Multiplayer.Playtime_2weeks_bygenre_Multiplayer = dummies_Multiplayer.playtime_2weeks
dummies_Multiplayer.Playtime_forever_bygenre_Multiplayer = dummies_Multiplayer.playtime_forever
dummies_Sports.Playtime_2weeks_bygenre_Sports = dummies_Sports.playtime_2weeks
dummies_Sports.Playtime_forever_bygenre_Sports = dummies_Sports.playtime_forever
dummies_Early.Playtime_2weeks_bygenre_Early = dummies_Early.playtime_2weeks
dummies_Early.Playtime_forever_bygenre_Early = dummies_Early.playtime_forever
dummies_Racing.Playtime_2weeks_bygenre_Racing = dummies_Racing.playtime_2weeks
dummies_Racing.Playtime_forever_bygenre_Racing = dummies_Racing.playtime_forever

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [0]:
dummies_Free.head()

,steamid,appid,Genre,Type,commentpermission,realname,playtime_2weeks,playtime_forever,no_of_games,free_to_play,Price,Rating,Required_Age,Is_Multiplayer,Is_Adult,unplayed,game_age,no_of_groups,total_group_connections,avg_friend_duration,total_friend_connections,avg_percentage_completion,total_achievements,loggoff_duration,account_age,Playtime_2weeks_bygenre,Playtime_forever_bygenre,Genre_Action,Genre_Adventure,Genre_Casual,Genre_Early,Genre_Free,Genre_Indie,Genre_Multiplayer,Genre_RPG,Genre_Racing,Genre_Simulation,Genre_Sports,Genre_Strategy,Genre_Unknown,Playtime_2weeks_bygenre_Action,Playtime_2weeks_bygenre_Adventure,Playtime_2weeks_bygenre_Casual,Playtime_2weeks_bygenre_Early,Playtime_2weeks_bygenre_Free,Playtime_2weeks_bygenre_Indie,Playtime_2weeks_bygenre_Multiplayer,Playtime_2weeks_bygenre_RPG,Playtime_2weeks_bygenre_Racing,Playtime_2weeks_bygenre_Simulation,Playtime_2weeks_bygenre_Sports,Playtime_2weeks_bygenre_Strategy,Playtime_2weeks_bygenre_Unknown,Playtime_forever_bygenre_Action,Playtime_forever_bygenre_Adventure,Playtime_forever_bygenre_Casual,Playtime_forever_bygenre_Early,Playtime_forever_bygenre_Free,Playtime_forever_bygenre_Indie,Playtime_forever_bygenre_Multiplayer,Playtime_forever_bygenre_RPG,Playtime_forever_bygenre_Racing,Playtime_forever_bygenre_Simulation,Playtime_forever_bygenre_Sports,Playtime_forever_bygenre_Strategy,Playtime_forever_bygenre_Unknown,Type_Unknown,Type_demo,Type_dlc,Type_game,Type_mod
21,76561197960269425,440,Free to Play,game,1.0,1,0.0,2116.0,222,1.0,0.0,92.0,0.0,1.0,0.0,0,4502.0,12.0,379079.0,432.500000,58,11.994409,520.0,61,3524,Free to Play,Free to Play,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,2116.0,0,0,0,0,0,0,0,0,0,0,0,1,0
25,76561197960269425,570,Free to Play,game,1.0,1,0.0,50134.0,222,1.0,0.0,90.0,0.0,1.0,0.0,0,2403.0,12.0,379079.0,432.500000,58,13.819854,48.0,61,3524,Free to Play,Free to Play,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,50134.0,0,0,0,0,0,0,0,0,0,0,0,1,0
211,76561197960269425,41300,Free to Play,game,1.0,1,0.0,317.0,222,1.0,0.0,79.0,0.0,1.0,0.0,0,3716.0,12.0,379079.0,432.500000,58,6.879568,52.0,61,3524,Free to Play,Free to Play,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,317.0,0,0,0,0,0,0,0,0,0,0,0,1,0
415,76561197960269501,440,Free to Play,game,0.0,1,0.0,26895.0,206,1.0,0.0,92.0,0.0,1.0,0.0,0,4502.0,28.0,2723055.0,319.717105,304,11.994409,520.0,61,3524,Free to Play,Free to Play,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,26895.0,0,0,0,0,0,0,0,0,0,0,0,1,0
419,76561197960269501,570,Free to Play,game,0.0,1,0.0,11510.0,206,1.0,0.0,90.0,0.0,1.0,0.0,0,2403.0,28.0,2723055.0,319.717105,304,13.819854,48.0,61,3524,Free to Play,Free to Play,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,11510.0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [0]:
list = [dummies_Action,dummies_Free,dummies_Adventure,dummies_Indie,dummies_Strategy,
        dummies_Simulation,dummies_RPG,dummies_Unknown,dummies_Casual,dummies_Multiplayer,
        dummies_Sports,dummies_Early,dummies_Racing]

### Write to file for memory issues

In [0]:
i=0
for df in list:
  i=i+1
  name = dummy_loc + str(i) + '.csv'
  df.to_csv(name,index=False)

# **Refer to Part 2 of dataset preparation due to memory shortage**